<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <title>About</title>
</head>

<body>
    <%- include('../partials/header'); %>
        <h1>About</h1>
    <%- include('../partials/footer'); %>
</body>
</html>
