<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <title>Contact</title>
</head>

<body>
    <%- include('../partials/header'); %>
        <h1>Contact</h1>
    <%- include('../partials/footer'); %>
</body>

</html>